@import "tailwindcss";

/* Custom Global Styles */
body {
  background-color: #111827; /* bg-gray-900 */
  color: white;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* bg-gray-800 */
}
::-webkit-scrollbar-thumb {
  background-color: #ca8a04; /* bg-yellow-600 */
  border-radius: 4px;
}
